<!-- <div class="heading">
<h1 class="title">TO-DO TRACKER</h1>
<h3 class="title1">GET THINGS DONE</h3>
<h3 class="title2">One By One...</h3>
</div> -->
<div style="display: flex;">
<div ><img style="width: 100%;height:auto;" src='../../assets/regImage.png' class="regImg"/>
</div>
<div style="margin-right: 5%;">
<mat-card class="card">
  <h1 style="font-family: 'Times New Roman', Times, serif;">Register Form</h1>
<form [formGroup]="userForm">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="userEmail">
    <mat-error *ngIf="userForm.get('userEmail')?.hasError('email')">Please enter a valid email address</mat-error>
    <mat-error *ngIf="userForm.get('userEmail')?.hasError('required')">Email is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="userPassword">
    <mat-error *ngIf="userForm.get('userPassword')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="userForm.get('userPassword')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
    <mat-error *ngIf="userForm.get('userPassword')?.hasError('pattern')">Password must contain at least one lowercase letter, one uppercase letter, and one number</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="User Name" formControlName="userName">
    <mat-error *ngIf="userForm.get('userName')?.hasError('required')">User Name is required</mat-error>
  </mat-form-field>

  <div class="form-actions">
    <button (click)="register()" type="button">Save</button>
  </div>
  <p class="login">Already a user? <a routerLink="/login">Login</a></p>
</form>
</mat-card>
</div>
</div>
