<p>todo-edit works!</p>
<ul>
  <li *ngFor="let Task of Tasks">

    <!-- <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <label for="taskHeading">Task Heading</label>
    <input type="text" id="taskHeading" formControlName="taskHeading" />
    <input type="text" id="taskContent" formControlName="taskContent" />
    <input type="date" id="dueDate" formControlName="dueDate" />
    <input type="time" id="dueTime" formControlName="dueTime" />
    <input type="text" id="priorityLevel" formControlName="priorityLevel" />
    <input type="text" id="category" formControlName="category"/>
    <input type="button" id="isCompleted" formControlName="isCompleted"/>
    <input type="button" id="isArchived" formControlName="isArchived"/>
    <button type="submit">Submit</button>
  </form> -->
  

  </li>
</ul> 